*{padding: 0; margin: 0;}
::selection,::-webkit-selection,::-moz-selection{background: none;}
body, html {
    height: 100%;
    font-family: 'Arial', 'Microsoft YaHei';
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
html{font-size: 62.5%;}
body {background-color: #eceeee;box-sizing: border-box;padding-top: 2vh;}
ul {list-style: none;}
img {border: none;}
table{border-collapse: collapse;border: 0;}
table thead{}

$border:1px solid #E8E8E8;
$deepRed:#ff6347;
$lowRed:#FE8A77;

/*
 * slider li
 * **/
.mainTabWrap{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;

    .mainTab{
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        box-sizing: border-box;
        box-orient: horizontal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;

        > li{
            width: 2vw;
            height: 2vw;
            margin: 0 5px;
            box-flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            text-align: center;
            border-radius: 50%;
            background-color: #D9DADC;
            font-size:0;
            line-height:0;
            text-indent:-9999px;
        }

        > li.active{
            background-color: $deepRed;
        }
    }
}

/*
 * slider content
 * **/
.sliderContent{
    box-sizing: border-box;
    width: 100%;
    height: 94vh;
    margin: 0 auto;
    //margin-top: 2vh;
    overflow: hidden;
    visibility: visible;
    list-style: none;
    position: relative;

    .sliderContentUl{
        position: relative;
        -webkit-transition: left 600ms ease-out;
        width: 100%;
        left: 0;

        > li{
            width: 100%;
            height: 100%;
            /*position: relative;*/
            float: left;
        }
    }
}

/*
* @main color,tab text.active color : #ff6347
* @tab text color : #9A9A9A

* @subMain color : #FFEFEC

* @table title text color : #FE6A4E

* @table text color : #333
* @table text.active color : #FE8A77
* @table text.active background-color : #FFF0ED

* @radius color : #D9DADC
* @radius.active color : #ff6347

* @border color : #ff6347  / #E8E8E8
*/
.wrap{
    background-color: #fff;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 1.4rem;
    z-index: 1;

    /**标题**/
    .header{
        box-sizing: border-box;
        width: 100%;
        height: 8vh;
        line-height: 8vh;
        background-color: $deepRed;
        color: #fff;
        text-align: center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .nowDate{
            font-size: 1.2rem;
        }
    }

    /**二级tab**/
    .subTab{
        display: -webkit-box;
        display: -moz-box;
        box-sizing: border-box;
        box-orient: horizontal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        border-bottom: $border;

        > a{
            display: block;
            box-flex: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            text-align: center;
            color: #9A9A9A;
            height: 6vh;
            line-height: 6vh;
            color: #9A9A9A;
            text-decoration: none;
        }

        > a.active{
            color: $deepRed;
            border-bottom: 2px solid $deepRed;
        }
    }

    /**表格**/
    .subContent table{
        margin-top: 2vh;
        width: 100%;
        text-align: center;
        color: #333;

        thead,tbody tr.head{
            height: 8vh;
            line-height: 8vh;
            color: $lowRed;
            border-bottom: 1px solid $lowRed;

            td{
                height: 8vh;
                line-height: 8vh;
            }

            td.rate{
                //position: relative;

                .q{
                    position: relative;
                    //display: inline-block;
                    //vertical-align: text-top;
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    background-color: $deepRed;
                    color: #fff;
                    margin-left: 0.3rem;

                    var{
                        position: absolute;
                        //display: inline-block;
                        width: 138px;
                        line-height: 2.0rem;
                        background-color: $deepRed;
                        //border: 1px solid #E8E8E8;
                        color: #fff;
                        border-radius: 4px;
                        //left: -50%;
                        right: 0;
                        /* transform: translate(-50%, -50%); */
                        top: 4vh;
                        opacity: 0.88;
                        font-size: 1.2rem;
                        text-align: center;
                        word-break: break-all;
                        word-wrap: break-word;
                        -webkit-box-shadow:0 2px 8px rgba(0, 0, 0,.6);
                        -moz-box-shadow:0 2px 8px rgba(0, 0, 0,.6);
                        box-shadow:0 2px 8px rgba(0, 0, 0, .6); //0, 204, 204, .5
                        display: none;

                        &:before,&:after{
                            display: block;
                            position: absolute;
                        }

                        &:before{
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 12px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 16px solid tomato;
                            top: -2px;
                            //left: 76%;
                            left: 90.33333%;
                            transform: translate(-50%,-50%);
                        }
                        &:after{

                        }
                    }
                }

                i{
                    position: absolute;
                    //display: inline-block;
                    width: 138px;
                    line-height: 2.0rem;
                    background-color: $deepRed;
                    //border: 1px solid #E8E8E8;
                    color: #fff;
                    border-radius: 4px;
                    //left: -50%;
                    right: 25%;
                    /* transform: translate(-50%, -50%); */
                    top: 7vh;
                    opacity: 0.88;
                    font-size: 1.2rem;
                    text-align: center;
                    word-break: break-all;
                    word-wrap: break-word;
                    -webkit-box-shadow:0 2px 8px rgba(0, 0, 0,.6);
                    -moz-box-shadow:0 2px 8px rgba(0, 0, 0,.6);
                    box-shadow:0 2px 8px rgba(0, 0, 0, .6); //0, 204, 204, .5
                    display: none;

                    &:before,&:after{
                        display: block;
                        position: absolute;
                    }

                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 12px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 16px solid tomato;
                        top: -2px;
                        //left: 76%;
                        left: 92.33333%;
                        transform: translate(-50%,-50%);
                    }
                    &:after{

                    }
                }
            }
        }

        tbody tr{
            height: 8vh;
            line-height: 8vh;
            border-bottom: $border;
        }

        tbody tr.head td{
            padding-top: 2vh;
        }

        //tbody tr:hover
        tbody tr.active{
            background-color: #FFF0ED;
        }
    }

    /**图表**/
    .flow{
        margin-top: 5vh;
        width: 100%;
        height: 30vh;
    }
    .flow-1{
        height: 30vh !important; //33vh
    }
    .flow-2,.flow-4{
        height: 40vh !important;
    }
    .flow-4{
        width: 40vh !important;
        margin-left: auto;
        margin-right: auto;
    }

    /**九宫格**/
    .subSlider{
        .row{
            height:33.3333333333333%;
            border-bottom: $border;
            color: #333;

            div{
                box-sizing: border-box;
                height:100%;

                p{
                    text-align: center;

                    .small{
                        font-size: 1.2rem;
                    }
                }
                p.bold,p.lowRed{
                    font-size: 2.4rem;
                }

            }

            .left{
                border-right: $border;
            }

            .horizon-chi{
                width: 50%;
                //position: relative;
                //transform: translate(-50%,-50%);
                display: flex;
                justify-content:center;
                flex-direction:column;

                > p{
                    //position: absolute;
                    display: flex;
                    justify-content:center;
                }
            }

        }
    }

    .subSlider.square{
        height: 86vh;
    }
}

/********public********/
.deepRed{
    color: $deepRed;
}
.lowRed{
    color: $lowRed;
}
.borBotRed{
    border-bottom: 1px solid $lowRed !important;
}
.borBotNone{
    border-bottom: 0 !important;
}

/**横向排列**/
.horizon-par{
    display: -webkit-box;
    display: -moz-box;
    box-sizing: border-box;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
}
.horizon-chi,.vertical-chi{
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

/**竖向排列**/
.vertical-par{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

/**loading**/
/**
<div id="loading" class="cell">
    <div class="card">
        <span class="gauge-loader">Loading…</span>
    </div>
    <div class="text">Loading...</div>
</div>
**/
.cell {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column; //多个子元素垂直剧中
    align-items:center;  //垂直
    justify-content: center;  //水平

    .card {
        text-align: center;
        vertical-align: middle;

        .gauge-loader:not(:required) {
            background-color: $deepRed;
            -moz-border-radius-topleft: 15vw;
            -webkit-border-top-left-radius: 15vw;
            border-top-left-radius: 15vw;
            -moz-border-radius-topright: 15vw;
            -webkit-border-top-right-radius: 15vw;
            border-top-right-radius: 15vw;
            display: inline-block;
            width: 30vw;
            height: 15vw;
            overflow: hidden;
            position: relative;
            text-indent: -9999px;
        }

        .gauge-loader:not(:required)::before {
            -moz-animation: gauge-loader 4000ms infinite ease;
            -webkit-animation: gauge-loader 4000ms infinite ease;
            animation: gauge-loader 4000ms infinite ease;
            background: #fff;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            content: '';
            position: absolute;
            left: 49%;
            top: 14.33333px;
            width: 4px;
            height: 26.66667px;
            -moz-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            transform: translate(-50%,-50%);
        }

        .gauge-loader:not(:required)::after {
            content: '';
            background: #fff;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            position: absolute;
            left: 50%;
            bottom: -6px;
            width: 12.8px;
            height: 12.8px;
            transform: translate(-50%,-50%);
        }

        @-moz-keyframes gauge-loader {
            0% {
                -moz-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
            10% {
                -moz-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            20% {
                -moz-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            24% {
                -moz-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            40% {
                -moz-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            54% {
                -moz-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            56% {
                -moz-transform: rotate(78deg);
                transform: rotate(78deg);
            }
            58% {
                -moz-transform: rotate(73deg);
                transform: rotate(73deg);
            }
            60% {
                -moz-transform: rotate(75deg);
                transform: rotate(75deg);
            }
            62% {
                -moz-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            70% {
                -moz-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            80% {
                -moz-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            83% {
                -moz-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            86% {
                -moz-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            89% {
                -moz-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            100% {
                -moz-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
        }
        @-webkit-keyframes gauge-loader {
            0% {
                -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
            10% {
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            20% {
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            24% {
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            40% {
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            54% {
                -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            56% {
                -webkit-transform: rotate(78deg);
                transform: rotate(78deg);
            }
            58% {
                -webkit-transform: rotate(73deg);
                transform: rotate(73deg);
            }
            60% {
                -webkit-transform: rotate(75deg);
                transform: rotate(75deg);
            }
            62% {
                -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            70% {
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            80% {
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            83% {
                -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            86% {
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            89% {
                -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            100% {
                -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
        }
        @keyframes gauge-loader {
            0% {
                -moz-transform: rotate(-70deg);
                -ms-transform: rotate(-70deg);
                -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
            10% {
                -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            20% {
                -moz-transform: rotate(60deg);
                -ms-transform: rotate(60deg);
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            24% {
                -moz-transform: rotate(60deg);
                -ms-transform: rotate(60deg);
                -webkit-transform: rotate(60deg);
                transform: rotate(60deg);
            }
            40% {
                -moz-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            54% {
                -moz-transform: rotate(70deg);
                -ms-transform: rotate(70deg);
                -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            56% {
                -moz-transform: rotate(78deg);
                -ms-transform: rotate(78deg);
                -webkit-transform: rotate(78deg);
                transform: rotate(78deg);
            }
            58% {
                -moz-transform: rotate(73deg);
                -ms-transform: rotate(73deg);
                -webkit-transform: rotate(73deg);
                transform: rotate(73deg);
            }
            60% {
                -moz-transform: rotate(75deg);
                -ms-transform: rotate(75deg);
                -webkit-transform: rotate(75deg);
                transform: rotate(75deg);
            }
            62% {
                -moz-transform: rotate(70deg);
                -ms-transform: rotate(70deg);
                -webkit-transform: rotate(70deg);
                transform: rotate(70deg);
            }
            70% {
                -moz-transform: rotate(-20deg);
                -ms-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
            80% {
                -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            83% {
                -moz-transform: rotate(25deg);
                -ms-transform: rotate(25deg);
                -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            86% {
                -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
            }
            89% {
                -moz-transform: rotate(25deg);
                -ms-transform: rotate(25deg);
                -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
            }
            100% {
                -moz-transform: rotate(-70deg);
                -ms-transform: rotate(-70deg);
                -webkit-transform: rotate(-70deg);
                transform: rotate(-70deg);
            }
        }

    }

    .text{
        color: $deepRed;
    }
}

/**
<div id="loading" class="loading-center">
    <div class="loading-center-absolute">
        <div class="object object_1"></div>
        <div class="object object_2"></div>
        <div class="object object_3"></div>
        <div class="object object_4"></div>
        <div class="object object_5"></div>
        <div class="object object_6"></div>
        <div class="object object_7"></div>
        <div class="object object_8"></div>
        <div class="object object_big"></div>
    </div>
    <div class="text">Loading...</div>
</div>
**/
.loading-center{
    width: 100%;
    height: 100%;
    position: relative;

    .loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 150px;
        width: 150px;
        margin-top: -75px;
        margin-left: -75px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        .object{
            width: 20px;
            height: 20px;
            background-color: $deepRed;
            position: absolute;
            left: 65px;
            top: 65px;

            &:nth-child(2n+0) {
                margin-right: 0px;
            }
        }

        .object_1 {
            -webkit-animation: object_1 2s infinite;
            animation: object_1 2s infinite;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }
        .object_2 {
            -webkit-animation: object_2 2s infinite;
            animation: object_2 2s infinite;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
        .object_3 {
            -webkit-animation: object_3 2s infinite;
            animation: object_3 2s infinite;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
        .object_4 {
            -webkit-animation: object_4 2s infinite;
            animation: object_4 2s infinite;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }
        .object_5 {
            -webkit-animation: object_5 2s infinite;
            animation: object_5 2s infinite;
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
        .object_6 {
            -webkit-animation: object_6 2s infinite;
            animation: object_6 2s infinite;
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }
        .object_7 {
            -webkit-animation: object_7 2s infinite;
            animation: object_7 2s infinite;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }
        .object_8 {
            -webkit-animation: object_8 2s infinite;
            animation: object_8 2s infinite;
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }
        .object_big{
            position: absolute;
            width: 50px;
            height: 50px;
            left: 50px;
            top: 50px;
            -webkit-animation: object_big 2s infinite;
            animation: object_big 2s infinite;
            -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

        @-webkit-keyframes object_big {
            50% { -webkit-transform: scale(0.5); }
        }
        @keyframes object_big {
            50% {
                transform: scale(0.5);
                -webkit-transform: scale(0.5);
            }
        }

        @-webkit-keyframes object_1 {
            50% { -webkit-transform: translate(-65px,-65px)  ; }
        }
        @keyframes object_1 {
            50% {
                transform: translate(-65px,-65px) ;
                -webkit-transform: translate(-65px,-65px) ;
            }
        }

        @-webkit-keyframes object_2 {
            50% { -webkit-transform: translate(0,-65px) ; }
        }
        @keyframes object_2 {
            50% {
                transform: translate(0,-65px) ;
                -webkit-transform: translate(0,-65px) ;
            }
        }

        @-webkit-keyframes object_3 {
            50% { -webkit-transform: translate(65px,-65px) ; }
        }
        @keyframes object_3 {
            50% {
                transform: translate(65px,-65px) ;
                -webkit-transform: translate(65px,-65px) ;
            }
        }

        @-webkit-keyframes object_4 {

            50% { -webkit-transform: translate(65px,0) ; }

        }
        @keyframes object_4 {
            50% {
                transform: translate(65px,0) ;
                -webkit-transform: translate(65px,0) ;
            }
        }

        @-webkit-keyframes object_5 {

            50% { -webkit-transform: translate(65px,65px) ; }
        }
        @keyframes object_5 {
            50% {
                transform: translate(65px,65px) ;
                -webkit-transform: translate(65px,65px) ;
            }
        }

        @-webkit-keyframes object_6 {
            50% { -webkit-transform: translate(0,65px) ; }
        }
        @keyframes object_6 {
            50% {
                transform:  translate(0,65px) ;
                -webkit-transform:  translate(0,65px) ;
            }
        }

        @-webkit-keyframes object_7 {
            50% { -webkit-transform: translate(-65px,65px) ; }
        }
        @keyframes object_7 {
            50% {
                transform: translate(-65px,65px) ;
                -webkit-transform: translate(-65px,65px) ;
            }
        }

        @-webkit-keyframes object_8 {
            50% { -webkit-transform: translate(-65px,0) ;}
        }
        @keyframes object_8 {
            50% {
                transform: translate(-65px,0) ;
                -webkit-transform: translate(-65px,0) ;
            }
        }
    }

    .text{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $deepRed;
    }
}


/********end public********/